body {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    margin-top: 63px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 80px;
}

span {
    color: #4BCAFF;
}

.list {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 72px;
    align-items: center;
    justify-content: space-around;
    background-color: #35444F;
    font-size: 24px;
    margin-top: 38px;
}

.list a {
    text-decoration: none;
    color: #FFFFFF;
}

.list_item_1 {
    width: 266px;
    margin-left: 161px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF; 
}

.list_item_2 {
    width: 76px;
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-right: 1px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
}

.list_item_2:hover {
    background-color: #222F3A;
    transition-delay: 200ms;
}

.list_item_3 {
    width: 203px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-right: 1px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
}

.list_item_4 {
    width: 163px;
    padding-left: 40px;
    padding-right: 18px;
    padding-top: 26px;
    padding-bottom: 19px;
    margin-right: 133px;
    border-right: 1px solid #FFFFFF;
    border-left: 0px solid #FFFFFF;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 298px;
    height: 397px;
    padding-left: 44px;
    border: 1px solid #000000;
    font-size: 27px;
    font-weight: 400;
}

.menu a {
    text-decoration: none;
    color: #495863;
}

.menu_item_1 {
    color: #485863;
}

.menu_item_2 {
    color: #35444F;
}

.menu_item_2:hover {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 38px;
}

img {
    width: 320px;
    height: 381px;
    border: 1px solid #000000;
    padding: 75px 267px 73px 296px;
}

img:hover {
    transform: scale(1.05);
    transition-delay: 300ms;
    transition-duration: 1200ms;
}

.content {
    max-width: 885px;
    margin-left: 395px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.describtion {
    height: 120px;
    margin-top: 37px;
    line-height: 24px;
    color: #2C2C2C;
}

.text {
    height: 109px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 54px;
    font-weight: 400;
}

.footer-menu {
    display: flex;
    width: 875px;
    height: 28px;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.footer-menu a {
    text-decoration: none;
    color: #0C1927;
}

.item_2:hover {
    color: #3181A6;
    padding-bottom: 13px;
    border-bottom: 2px solid #3181A6;
}
